body {
  background-color: #fafafa;
}
body .page .top {
  padding-top: 20px !important;
}
body .page .bottom {
  padding-bottom: 25px !important;
}
body .page .nav-top {
  height: 63px;
  background-color: white;
  border-top: 0.5px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
body .page .nav-top .nav-container {
  padding-left: 24% !important;
  padding-right: 24% !important;
}
body .page .nav-top .nav-container .logo .logo-instagram {
  max-width: 130px;
  max-height: 80px;
}
body .page .nav-top .nav-container .form .form-control {
  border-radius: 0.15rem !important;
  padding: 0% !important;
  background-color: #fafafa;
  text-align: center;
  font-size: 15px !important;
}
body .page .nav-top .nav-container .box-icons {
  width: 40%;
}
body .page .nav-top .nav-container .box-icons .icons {
  padding: 4%;
  font-size: 25px;
}
body .page .nav-top .nav-container .box-icons .img-nav {
  border-radius: 100%;
  max-width: 30px;
  width: 30px;
  height: 25px;
  max-height: 25px;
  margin-top: -12px;
}
body .page .container-info .img-profile {
  border-radius: 100%;
  max-width: 200px;
  width: 200px;
  max-height: 175px;
  height: 175px;
  border: 0.5px solid #dbdbdb;
}
body .page .container-info .table-user {
  padding-top: 20px;
  padding-bottom: 10px;
}
body .page .container-info .table-user .username {
  font-size: 28px;
  font-weight: 300;
}
body .page .container-info .table-user .button-edit {
  color: black !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  border-color: #dae1e7 !important;
}
body .page .container-info .btn {
  padding: 0.1rem 0.5rem !important;
}
body .page .container-info .profire-datas {
  font-size: 16px;
}
body .page .container-info .profire-datas strong {
  padding-right: 2px;
}
body .page .container-info .name {
  font-size: 16px;
  display: inline;
  font-weight: 600 !important;
}
body .page .container-info .profile-desc {
  font-size: 16px;
}
body .page .container-info .list-title-stories {
  padding-bottom: 40px;
  padding-left: 12px;
}
body .page .container-info .list-title-stories .stories {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}
body .page .container-info .nav-feed {
  border-bottom: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  gap: 10px;
}
body .page .container-info .nav-feed .nav-link1 {
  color: #a2a8af;
  background-color: #fafafa !important;
  border-color: gray #fafafa #fafafa !important;
  border-top-right-radius: 0rem !important;
  border-top-left-radius: 0rem !important;
  font-size: 12px;
  font-weight: 600;
}
body .page .container-info .nav-feed .nav-link1 i {
  padding-right: 5px;
}
body .page .container-info .nav-feed .nav-link1.active {
  color: #495057;
}
body .page .container-info .nav-feed .nav-link2 {
  color: #a2a8af;
  background-color: #fafafa !important;
  border-color: gray #fafafa #fafafa !important;
  border-top-right-radius: 0rem !important;
  border-top-left-radius: 0rem !important;
  font-size: 12px;
  font-weight: 600;
}
body .page .container-info .nav-feed .nav-link2 i {
  padding-right: 5px;
}
body .page .container-info .nav-feed .nav-link2.active {
  color: #495057;
}
body .page .container-info .tab {
  padding-top: 10px;
}
body .page .container-info .tab .card {
  border: 0px solid rgba(0, 0, 0, 0.125) !important;
  border-radius: 0rem !important;
}
body .page .container-info .tab .card .card-img-top {
  border-top-left-radius: 0rem !important;
  border-top-right-radius: 0rem !important;
}
